
<div class="container" style="padding-top: 10px; padding-bottom: 10px;">

<div class="row col-lg-6 col-md-6 col-sm-5 hidden-xs" style="padding-right: 20px;">
  <div id="facility-map" class="google-map" style="height: 600px;"></div>
</div>

<div class="row col-lg-6 col-md-6 col-sm-7">
  <form role="form">

    <div class="form-group" ng-show="facility.uuid">
      <label for="uuid">UUID</label>
      <input type="text" class="form-control" disabled id="uuid" ng-model="facility.uuid" />
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Name" ng-model="facility.name" />
    </div>

    <div class="form-group">
      <label for="active">Active</label>
      <select id="active" class="form-control" ng-model="facility.active">
        <option ng-selected="facility.active === true" value="true">Yes</option>
        <option ng-selected="facility.active === false" value="false">No</option>
      </select>
    </div>

    <label for="active">Coordinates</label>

    <div class="row form-inline">
      <div class="form-group col-lg-5 col-md-5 col-sm-5">
        <input id="longitude" type="text" class="form-control" placeholder="Longitude" ng-model="facility.coordinates[0]" />
      </div>
      <div class="form-group col-lg-5 col-md-5 col-sm-5">
        <input id="latitude" type="text" class="form-control col-lg-11" placeholder="Latitude" ng-model="facility.coordinates[1]" />
      </div>
      <div class="form-group col-lg-2 col-md-2 col-sm-2">
        <button class="btn btn-default" style="width: 100%;" ng-click="getCoordinates()"><i class="fa fa-location-arrow"></i></button>
      </div>
    </div>

    <br />

    <fieldset>
      <legend>DHIS 2</legend>

      <div class="form-group" ng-show="uidId.id">
        <label for="id">ID</label>
        <input type="text" class="form-control" id="id" disabled placeholder="Organisation unit ID" ng-model="uidId.id"/>
      </div>

      <div class="form-group">
        <label for="code">Code</label>
        <input type="text" class="form-control" id="code" placeholder="Organisation unit code" ng-model="codeId.id"/>
      </div>

      <div class="form-group">
        <label for="parent">Parent</label>
        <input type="text" class="form-control" id="parent" placeholder="Enter parent ID" ng-model="facility.properties.parent"/>
      </div>

      <div class="form-group">
        <label for="parent">DataSets</label>
        <select id="dataSets" ng-model="facility.properties.dataSets" class="form-control" multiple>
          <option ng-repeat="ds in dataSets" ng-selected="facility.properties.dataSets.indexOf(ds.id) != -1" value="{{ ds.id }}">{{ ds.name }}</option>
        </select>
      </div>

    </fieldset>

    <button type="submit" class="btn btn-primary pull-left" ng-click="saveFacility()">Save</button>

    <div class="btn-group pull-right" ng-show="facility.uuid">
      <a href="#!/facilities/new?parent={{ uidId.id }}" type="button" class="btn btn-default"><i class="fa fa-plus-square"></i> Add Child</a>
      <button type="button" class="btn btn-danger" ng-click="removeFacility(facility.uuid)"><i class="fa fa-trash-o"></i> Delete</button>
    </div>

  </form>
</div>

</div>
